@media (max-width : 760px) {

    .enter{
        margin-left: 7em;
       margin-bottom: 1.5em;
        width: 65px;
        height: 40px;
        font-size: 1em;
    }

    .box{
        margin: 3em;
    }

    .border-button {
        border: solid 5px #a4fc51;
        transition: 0.6s linear;
      }
      
      .border-button:hover { border-width: 10px; }

.greetingSection {
    color: rgb(62, 59, 54);
    background-color: rgb(201, 156, 195);
    border:  #e7e69d solid 12px;
    box-shadow: 20px 20px 20px  #c671e7;
    font-size: larger;
    margin: 10px;
    padding: 20px;
    width: 350px;
    height: 550px;
}
.enter:hover{
    background-color: rgb(197, 238, 135);
        }

.greet {
font-size: 2em;
    text-align: center;
    color: black;
   
}
.row{
    margin-left: 2em;
}

.langHeading{

    font-size: 1.2em;
    text-align: center;
    color: black;
}

.nameHeading{
    font-size: 1.2em;
    color: black;
}

.radioB{
    color: black;
    display: flex;
    margin-left: 5.1em;
    font-size: 1.2em;
}


footer{
    text-align: center;
    font-size: 1em;
}

.resetBtn{
   
    margin-left: 5.5em;
    font-size: 1em;
}
.resetBtn:hover{
    background-color: rgb(197, 238, 135);
        }


.valueDisplay{

    margin-left: 4em;
    width: 40px;
    height: 30px;
    font-size: 2em;
    color: #000;
}

input[type='radio']{
    width: 15px;
    height: 15px;
    accent-color :red;
}
.textBox{
    width: 220px;
    height: 30px;
    font-size: 1.1em;
}

}

@media (min-width : 960px) {

    .textBox{
        width: 210px;
        height: 50px;
        font-size: 1.1em;
    }
   
 .enter{
    width: 70px;
    height: 40px;
    border: #000 solid 2px;
        margin-left: 12.5em;
        margin-bottom: 1.2em;
        margin-top: 1.2em;
        font-size: 1em;
    }
    .enter:hover{
background-color: rgb(197, 238, 135);
    }

    .greetingSection {
        color: rgb(62, 59, 54);
        background-color: rgb(201, 156, 195);
        border:  #e7e69d solid 12px;
        box-shadow: 20px 20px 20px  #c671e7;
        font-size: larger;
        margin: 10em auto;
        padding: 10px;
        width: 550px;
        height: 650px;
    }

    .greet {
        font-size: 3em;
            text-align: center;
            color: black;
        }
        
        .langHeading{
        
            font-size: 1.5em;
            text-align: center;
            color: black;
        }

    .nameHeading{   
        font-size: 1.5em;
        color: black;
    }
    .row{
        margin-left: 7em;
    }
    
    .radioB{
        color: black;
        font-size: 1.5em;
        display: inline;
        margin-left: 1em;
    }
    
    input[type='radio']{
        width: 25px;
        height: 25px;
        accent-color : red;
    }

    footer{
        font-size: 1.5em;
        text-align: center;
    }
    
    .resetBtn{
        margin-left: 11.5em;
        margin-top: 0.5em;
        font-size: 1em;
        width: 110px;
        height: 55px;
    }
    .resetBtn:hover{
        background-color: rgb(197, 238, 135);
            }
    
    
     .valueDisplay{
        margin-left: 5.5em;
      
        font-size: 2.5em;
        color: #000;
        
    } 
}


  
